@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>About Us</h2>
<div class="jumbotron">
    <p>
        Project created by Daniel P Fernandes under orientation of Prof. Michael Olan.
    </p>
    <p>
        Stockton University | CSIS 4135 | Web Engineering
    </p>
</div>