@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="jumbotron">
    <h2>Contact Page</h2>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <h3>Student</h3>
            <h4>Daniel P Fernandes</h4>
            <p><span class="glyphicon glyphicon-inbox"></span> paivafed@go.stockton.edu</p>
            <p><span class="glyphicon glyphicon-earphone"></span> 609-555-5555</p>            
        </div>
        <div class="col-lg-3 col-lg-offset-2">
            <h3>Professor</h3>
            <h4>Michael Olan</h4>
            <p><span class="glyphicon glyphicon-inbox"></span> olanmj@stockton.edu</p>
            <p><span class="glyphicon glyphicon-earphone"></span> 609-652-4587</p>
        </div>
    </div>
</div>