<h2>Welcome to Travel App</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h3><span class="glyphicon glyphicon-briefcase"></span>Plan your trips</h3>
            <p>Prepare your trips to your favorite places with our incredible service!</p>
        </div>
        <div class="col-lg-4">
            <h3><span class="glyphicon glyphicon-flag"></span> Round trip or multiples stops, no problem!</h3>
            <p>
                Family trip or adventurer? We have the right solution for you! Just add how many places you wanna visit in your trip
                and check in our map your route!
            </p>
        </div>
        <div class="col-lg-4">
            <h3><span class="glyphicon glyphicon-plane"></span> Buy your tickets</h3>
            <p>
                Service coming soon! First of all, we have to make our engine work. Then, we can fly high with new ideas! <span class="glyphicon glyphicon-thumbs-up"></span>
            </p>
        </div>
    </div>
</div>
